canvas {
    transition: filter 0.5s ease-in-out;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container, .bottom-button-container {
    position: absolute;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 45px;
    font-family: 'custard', Arial, Helvetica, sans-serif;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.buttons-container {
    top: 0px;
}

.bottom-button-container {
    bottom: 0px;
}

.buttons-container.visible, .bottom-button-container.visible {
    display: flex;
    animation: fadeIn .25s ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: all;
}

.buttons-container.hidden, .bottom-button-container.hidden {
    animation: fadeIn .25s ease-in-out reverse;
    animation-fill-mode: forwards;
    pointer-events: none;
    display: none;
}

.button {
    width: 20vw;
    max-width: 200px;
    height: 35px;
    background-color: #aba699;
    border: 3px solid black;
    margin: 10px;
    box-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 19px;
}

.bottom-button-container > .button {
    background-color: #ffd978;

}

.button:hover {
    border: 3px solid #aba699;
    background-color: black;
    color: #aba699;
    box-shadow: 1px 1px 2px #aba699;
}

.bottom-button-container > .button:hover {
    color: #ffd978;
    border: 3px solid #ffd978;
    box-shadow: 1px 1px 2px #ffd978;

}

.popup-container {
    width: 80vw;
    height: 80vh;
    background-color: #dfdacd;
    border: 8px solid black;
    border-radius: 20px;
    font-family: 'custard', Arial, Helvetica, sans-serif;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out all;
    box-shadow: 1px 1px 5px black;
    overflow-y: auto;
    max-width: 800px;
    max-height: 600px;
    top: auto;
    left: auto;
    position: absolute;
}

.popup-container.visible {
    opacity: 1;
    pointer-events: all;
}

.close-container {
    position: fixed;
    width: 80vw;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    max-width: 800px;
}

.close {
    height: 30px;
    width: 30px;
    background-image: url('../../assets/ui/close.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 15px;
    transition: filter 0.2s ease-in-out;
}

.close:hover {
    filter: opacity(0.5);
}

.text {
    padding: 20px;
}

.description {
    margin: 2vh 4vw;
    font-family: 'obvia-narrow', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.quote {
    font-family: 'study', serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 22px;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
}

#canvas.blurred {
    filter: blur(1.5rem);
    pointer-events: none;
}

iframe {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
